@{
    ViewBag.Title = "CodeEffects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CodeEffects</h2>

<iframe src="http://rule.codeeffects.com/Business-Rule-Demo" width="1060px" height="600px"></iframe>